build/
tools/
profile/
meta.json

tests/current.json
tests/d1.json
tests/d2.json

src/*/gui/forms/anki*
src/*/gui/resources/anki*

__pycache__/
.cache
.mypy_cache/
.pytest_cache/

.vscode/
*.code-workspace

**/.history
