exclude: src/anking_notetypes/note_types
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml

-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        args: ["--diff"]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8

-   repo: https://github.com/pycqa/pylint
    rev: v2.14.0
    hooks:
    - id: pylint
      language: python
      types: [python]
      additional_dependencies: [aqt]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
        ]
